*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
header{
    background-color: rgb(72, 97, 22);
    display: flex;
    align-items: center;
    padding: 15px 0px;
}
header a{
    color: white;
}
a{
    text-decoration: none;
}
header ul{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}
#logo{
    margin: 0 auto;
    font-size: 30px;
}
#logo a{
   font-weight: bold;
}
#menu li{
    padding: 10px;
}
#social-links li{
    padding: 10px;
}
#main{
    display: flex;
}
aside{
    flex: 0 0 20vw;
    padding: 10px;
}
aside ul{
    list-style: none;
    padding: 0px;
}
aside ul a{
    color:  rgb(72, 97, 22);
    display: block;
    padding: 4px;
    border-bottom: 1px solid gray;
}
aside img{
    width: 100%;
}
.service-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.service-box{
    border: 1px solid #eee;
    padding: 10px;
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
}
.service-desc{
    margin-bottom: 15px;
}

.service-box img{
    width: 100%;
}
footer{
    background-color: rgb(72, 97, 22);
    padding: 10px;
    text-align: center;
    margin: 10px;
    color: white;
}
.get-in a{
    background-color: gray;
    color: white;
    padding: 8px 13px;
    border: 1px solid transparent;
    display: inline-block;
}
.get-in a:hover{
    background-color:transparent;
    color: gray;
    border: 1px solid yellow;
}
.get-in{
    align-self: flex-start;
    margin-top: auto;
}
@media screen and (max-width:850px){
    .service-box{
        flex-basis: 48%;
    }
    aside{
        flex: 0 0 30vw;
    }
    
}
@media screen and (max-width:600px){
    header{
        flex-direction: column;
    }
    #logo{
        order: -1;
    }
    article{
        order: -1;
    }
    #main{
        flex-direction: column;
    }
    .service-container{
        flex-direction: column;
        align-items: center;
    }
    h2{
        text-align: center;
    }
}