.wrapper{
    display: flex;
}
.one{
    background-color: gray;
    color: white;
    font-size: 1.6em;
    margin: 7px;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
}
.two{
    background-color: gray;
    color: white;
    font-size: 1.6em;
    margin: 7px;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
}
.three{
    background-color: gray;
    color: white;
    font-size: 1.6em;
    margin: 7px;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
}
.four{
    background-color: gray;
    color: white;
    font-size: 1.6em;
    margin: 7px;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
}
.five{
    background-color: gray;
    color: white;
    font-size: 1.6em;
    margin: 7px;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
}
.five{
    background-color: gray;
    color: white;
    font-size: 1.6em;
    margin: 7px;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
}
.six{
    background-color: gray;
    color: white;
    font-size: 1.6em;
    margin: 7px;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
}
.seven{
    background-color: gray;
    color: white;
    font-size: 1.6em;
    margin: 7px;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
}
.eight{
    background-color: gray;
    color: white;
    font-size: 1.6em;
    margin: 7px;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
}
.nine{
    background-color: gray;
    color: white;
    font-size: 1.6em;
    margin: 7px;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
}
.ten{
    background-color: gray;
    color: white;
    font-size: 1.6em;
    margin: 7px;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
}
.eleven{
    background-color: gray;
    color: white;
    font-size: 1.6em;
    margin: 7px;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
}
.twelve{
    background-color: gray;
    color: white;
    font-size: 1.6em;
    margin: 7px;
    padding: 5px;
    flex: 1;
    border-radius: 5px;
}
